@(record: Seq[forms.AssignmentRepo])(implicit requestHeader: RequestHeader, flash: Flash)
@import helper._
@userview("@user.username", "WORKIFY ASSIGNMENTS", "VIEW WORKIFY ASSIGNMENTS UPLOADED BY ADMIN"){
<div class="container">
    <table class="table text-center">
        <thead >
        <th class="text-center">Title</th>
        <th class="text-center">Description</th>
        <th></th>
        </thead>

        <tbody>
        @for(assignment <- record){
            <tr >
                <td >@assignment.title</td>
                <td>@assignment.description</td>
                <td><button><a href="@routes.AssignmentHandler.deleteAssignment(assignment.id)">Delete</a></button></td>
            </tr>
        }

        </tbody>
    </table>
</div> <!-- ./container -->
}