@(regForm: Form[forms.User], user: forms.UserRepo)(implicit requestHeader: RequestHeader, flash: Flash)
@import helper._
@userview(user.userName, "WORKIFY PROFILE", "UPDATE YOUR WORKIFY PROFILE"){
<div class="container">
    <form class="form-horizontal" role="form" action="/update/@user.email" name="myForm" method="POST" onsubmit="return(validate());">
        @CSRF.formField

        <div class="form-group">

            <div class="col-sm-4">
                <input type="text" id="firstName" placeholder="First Name" name="firstName" value="@user.firstName" required>
            </div>
            <div class="col-sm-4">
                <input type="text" id="middleName" placeholder="Middle Name" name="middleName" value="@user.middleName">
            </div>
            <div class="col-sm-4">
                <input type="text" id="lastName" placeholder="Last Name" name="lastName" value="@user.lastName">
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <p id="firstName_error" style="color:red"></p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4">
                <input type="text" id="username" placeholder="Username"  name= "username" value="@user.userName">
            </div>
            <div class="col-sm-2">
                <input type="number" id="age" placeholder="Age"  name= "age" min="18" max="75" value="@user.age">
            </div>
            <div class="col-sm-6">
                <input type="text" id="email" placeholder="Email"  name= "email" value="@user.email">
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <p id="email_error" style="color:red"></p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <input type="password" name="passwordGroup.password" id="password" placeholder="Password" value="@user.password">
            </div>
            <div class="col-sm-6">
                <input type="password" name="passwordGroup.confirmPassword" id="confirmPassword" placeholder="Confirm Password" value="@user.password">
            </div>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <p id="confirmPassword_error" style="color:red"></p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1">Gender</label>

            <div class="col-sm-3 text-center">
                <div class="radio">
                    <label><input type="radio" name="gender">Male</label>
                </div>

            </div>
            <div class="col-sm-3 ">
                <div class="radio">
                    <label><input type="radio" name="gender" checked>Female</label>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <p id="gender_error" style="color:red"></p>
                </div>
            </div>
        </div> <!-- /.form-group -->

        <div class="form-group">
            <label class="col-sm-3">Hobbies: </label>

            <div class="col-sm-3 ">
                <div class="checkbox text-left">
                    <label><input type="checkbox" name="hobbies" >Singing</label>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="checkbox">
                    <label><input type="checkbox" name="hobbies">Dancing</label>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="checkbox">
                    <label><input type="checkbox" name="hobbies">Sports</label>
                </div>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3 ">
                <div class="checkbox">
                    <label><input type="checkbox" name="hobbies" >Reading</label>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="checkbox">
                    <label><input type="checkbox" name="hobbies" >Others</label>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary text-center">Update</button><br>
    </form> <!-- /form -->
</div> <!-- ./container -->
}