@(username : String, title: String, description: String)(content:Html)(implicit requestHeader: RequestHeader, flash: Flash)
@header()
<body>
@navheader()
<li ><a href="@routes.Application.profile" >PROFILE</a></li>
<li><a href="@routes.AssignmentHandler.viewAssignment">VIEW ASSIGNMENTS</a></li>
@if(username == "admin"){
    <li><a href="@routes.Application.addAssignment">ADD ASSIGNMENT</a></li>
    <li><a href="@routes.Application.viewUsers">VIEW USERS</a></li>
}

    <button class="btn login"><a href="@routes.Application.logout">LOGOUT</a></button>

@navfooter()

<div class="container-fluid">
    <div class="row">
        <div class="css_selector">
            <div class="page-layer text-center">
                <h6>@title</h6>
                <p>@description</p>
            </div>
        </div>
    </div>
</div>
@content
<script src="@routes.Assets.at("javascripts/redirection.js")"></script>

</body>
</html>



