@(users: Seq[forms.UserRepo], user: forms.UserRepo)(implicit requestHeader: RequestHeader, flash: Flash)
@import helper._
@userview(user.userName, "WORKIFY USERS", "VIEW WORKIFY USERS ACCESSING THE ASSIGNMENTS"){
<div class="container">
    <table class="table text-center">
        <thead >
        <th class="text-center">Name</th>
        <th class="text-center">Username</th>
        <th></th>
        <th></th>
        </thead>


        <tbody>
        @for(user <- users){
        <tr >
            <td ><span class="align">@user.firstName @user.lastName</span></td>
            <td>@user.userName</td>
            <td><button class="btn btn-primary">Enable</button></td>
            <td><button class="btn btn-primary">Disable</button></td>
        </tr>
        }
        </tbody>
    </table>
</div> <!-- ./container -->
}