@()(implicit requestHeader: RequestHeader, flash: Flash)
@import helper._

@main{
    <body>
    <!-- Navbar of the page -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand " href="#"><span class="logo">WORKIFY</span> </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="headstyle "><a class="active" href="#">HOME</a></li>
                    <li><a href="#">SERVICE</a></li>
                    <li><a href="#">PORTFOLIO</a></li>
                    <li>
                        <button class="btn login"><a href="@routes.Application.login">LOGIN</a></button>
                    </li>
                    <li>
                        <button class="btn signin"><a href="@routes.Application.signUp">SIGN UP</a></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- 	First Container-->
    <div class="container-fluid">
        <div class="row">
            <div class="css_selector">
                <div class="layer">
                    <h6>WELCOME TO WORKIFY</h6>
                    <p>ADD/VIEW/UPLOAD ASSIGNMENTS</p>
                    <button type="button" class="btn btn-default">LEARN MORE <i class="fa fa-paper-plane"
                                                                                aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Container -->
    <div class="container-fluid bg-2 text-center">
        <p class="margin">Say Hey to Instant Reviews !!</p>
        <p> Upload and view assignments and get full analysis of our work</p>
    </div>
    </body>
    </html>
}
